@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@keyframes fall {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes colorShift {
  0% {
    color: #07942dd1;
  }
  25% {
    color: #006400;
  }
  50% {
    color: #32779c;
  }
  75% {
    color: #2bff00;
  }
  100% {
    color: #7fffc8;
  }
}
