@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 147, 182, 186;
    --accent: 254 254 91;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg{
    @apply bg-background/20 border border-accent/30 border-dashed hover:border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes fall {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(90vh);
    opacity: .05;
  }
}

@keyframes colorShift {
  0% {
    color: #07942d;
  }
  25% {
    color: #006400;
  }
  50% {
    color: #32779c;
  }
  75% {
    color: #2bff00;
  }
  100% {
    color: #7fffc8;
  }
}
